/*OPPSETT AV TOP, TOPNAV, SIDEMENU, MAIN, RIGHT OG FOOTER:*/
.topnav {
  /*position:relative;#4CAF50*/
  z-index:2;
  font-size: 17px;
  width:100%;
  padding:1 50;
  letter-spacing:1px;
  height:auto; 
  color:#fff !important;
  background-color:#4CAF50;
}
.topnav a:link{
  padding:10px 15px 9px 15px !important;
  display:inline-block;
  text-decoration:none;
  background-color:#4CAF50;
  color:#ffffff;
}

.topnav a:visited{
  /*background-color:#4CAF50;*/
  color:#ffffff;
}
.topnav a:hover{
  background-color:green;
  color:#ffffff;
}
.topnav a:active {
  background-color:#73AD21;  
  color:#ffffff;
}

.home{float:left;}
